.header {
  background-color: transparent;
  @include height(auto);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 16px 0;
  opacity: 1;
  transition: 0.2s ease-in-out;

  &.add {
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    & .header-top__logo {
      color: $black;
      &:hover {
        color: $bg-1;
      }
    }
    & a {
      color: $black;
      &:hover {
        color: $bg-1;
      }
    }
  }
  &-top {
    @include display(space-between);
    @include sans(700);

    &__logo {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.7);
      &:hover {
        color: #fff;
      }
    }
    &__menu {
      display: flex;
      justify-content: space-evenly;
      transition: max-height 0.35s ease-in-out;

      & li {
        font-size: 14.4px;
        padding: 10px 0;
        &:nth-child(1) {
          & a {
            padding: 0 16px;
          }
        }
        &:nth-child(2) {
          & a {
            padding: 0 16px;
          }
        }
        &:nth-child(3) {
          & a {
            padding: 0 16px;
          }
        }
        &:nth-child(4) {
          & a {
            padding: initial;
            padding-left: 16px;
          }
        }
        & a {
          color: rgba(255, 255, 255, 0.7);
          padding: 0 16px;
          &:hover {
            color: #fff;
          }
          &.color__active {
            color: orangered;
          }
        }
      }
    }
    &__btn {
      display: none;
      padding: 4px 12px;
      font-size: 27px;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(0, 0, 0, 0.1);
      @include no-sans(400);
      line-height: 20px;
      border-radius: 4px;
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    background-color: #fff;
    &.add {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      & .header-top__logo {
        color: $black;
        &:hover {
          color: $bg-1;
        }
      }
      & a {
        color: $text-1;
      }
    }
    &-top {
      flex-wrap: wrap;
      &__logo {
        color: $black;
      }
      &__menu {
        flex-direction: column;
        flex-basis: 100%;
        max-height: 0px;
        overflow: hidden;
        & li {
          padding: initial;
          &:nth-child(1) {
            margin-top: 8px;
            & a {
              padding: 12px 0;
            }
          }
          &:nth-child(2) {
            & a {
              padding: 12px 0;
            }
          }
          &:nth-child(3) {
            & a {
              padding: 12px 0;
            }
          }
          &:nth-child(4) {
            margin-bottom: 8px;
            & a {
              padding: 12px 0;
            }
          }
          & a {
            color: $text-1;
            &:hover {
              color: $bg-1;
            }
          }
        }
        &.show {
          max-height: 100vh;
        }
      }

      &__btn {
        display: block;
      }
    }
  }
}
